* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #04B6AB;
}
.navbar {
  width:auto;
  height:auto;
  top: 0px;
  color:rgb(255, 255, 255);
  font-size: 36px;
  padding-left: 7rem;
  align-items: right;
}
.bg-light {
  background-color:transparent!important;
}
.navbar-brand{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 40rem;
    font-size: 36px;
    text-decoration: none;
    white-space: nowrap;
}
.v11_0 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2 {
  width: 100%;
  height: 100%;
  background: rgba(3,181,171,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_0 {
  width: 100%;
  height: 964px;
  background: url("../images/v2_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  z-index: -1;
}
.v3_2 {
  width: 447px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 1441px;
  font-family: PT Serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2_1 {
  width: 442px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 162px;
  left: 1446px;
  font-family: PT Sans Caption;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v3_3 {
  width: 147px;
  height: 82px;
  background: rgba(68,86,246,1);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 1616px;
}
.v3_5 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 315px;
  left: 1641px;
  font-family: PT Serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v41_0 {
  width: 100%;
  height: 116px;
  background: url("../images/v41_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_2 {
  width: 100%;
  height: 116px;
  background: rgba(3,181,171,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_4 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 1250px;
  font-family: PT Serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v29_2 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 1150px;
  font-family: PT Serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_1 {
  width: 116px;
  color: rgba(29,139,219,1);
  position: absolute;
  top: 38px;
  left: 146px;
  font-family: PT Serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_7 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 1050px;
  font-family: PT Serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_8 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 950px;
  font-family: PT Serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_0 {
  width: 60px;
  height: 60px;
  background: url("../images/v4_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 86px;
  overflow: hidden;
}
.v3_10 {
  width: 60px;
  height: 60px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}

.row { /*ScreenS*/
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
